<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maria Schettino</title>
    <link rel="stylesheet" href="stylesheets/foundation.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/portfolio.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div id='namebox'>
        <p id='name-heading'>Maria Schettino</p>
        <a href='#work'><p id='title'>Web Developer</p></a>
      </div>
   </nav>

<a href='#work'><div class="parallax-background">
  <div class="intro-text">

  </div>
</div></a>
             <div id="myModal" class="reveal-modal medium" data-reveal>
                <div id="spin">
                  <i id="spinner" class="fa fa-spinner fa-4x fa-spin"></i>
                </div>
                 <!--  <h1 id="thank-you">Thank You!</h1> -->
                 <div>
                      <input id="name" placeholder="name"></input><br/>
                      <input id="email" placeholder="email"></input><br/>
                      <textarea id="message" placeholder="message" cols="100" rows="8"></textarea>
                      <button id="send">Send</button>
                      <!-- <a id="close" href='#' onclick='overlay()'>CLOSE</a> -->
                      <a class="close-reveal-modal">&#215;</a>
                 </div>
             </div>
<a name="work"></a>

<div class="parallax-content">
  <div class="row">
    <div class="large-4 columns">
     <div class="image-tape">
      <a class="apps" href="https://mysterious-woodland-7075.herokuapp.com/login">
      <div class="overlay">
      </div>
      </a>
     </div>
        <h4>Mixtape</h4>
        <p>As a digital acknowledgement of our analog past, the mixtape app attempts to fill an emotional need to share music in personlized way. Like traditional cassette tapes, the mixtape is a means of curatorial expression that is simple and fun. </p>
    </div>

    <div class="large-4 columns">
      <div class="image-cat">
        <a class="apps" href="http://fathomless-island-9127.herokuapp.com/#">
          <div class="overlay">
          </div>
        </a>
      </div>

      <h4>Cat Keyboard</h4>
      <p>This javascript noise instrument was inspired by an interest in musical typing and sound manipulation. Each bar of the instrument sounds a pitched, distorted cat meow. Every sound is mapped to a keystroke, triggered by typing a letter.</p>
    </div>

    <div class="large-4 columns">
      <div class="image-saga">
        <a href="http://murmuring-hollows-5492.herokuapp.com/">
          <div class="overlay">
            </div>
        </a>
      </div>

      <h4>Saga</h4>
      <p>Saga was a collaborative effort with fellow developers, <a href="https://github.com/rsilverblatt88">Robert Silverblatt</a>, <a href="https://github.com/lwschjang">Will Schjang</a>, <a href="https://github.com/jennynguyen">Jenny Nguyen</a>, and <a href="https://github.com/primitivereflex">Jared Norcott</a> designed as an attempt "to highlight our own true desires and put an end to the constant postponement of living."</p>
    </div>

    </div>
    <div class="row">
    <div class="large-12 columns">

      <div class="panel">
    <div id="end">
     <h1 id="thank-you">Thank You!</h1>
    </div>
        <h4>Contact Info</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>mariatschettino@gmail.com</p>
            <p><a id="linked" href="https://www.linkedin.com/in/mariatschettino/"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp&nbsp<a id="linked" href="https://github.com/mariaperhaps"><i class="fa fa-github-square fa-2x"></i></a></p>
          </div>
          <div class="large-3 columns">
            <a href="#" data-reveal-id="myModal" class="radius button right">Contact Me</a>

          <!--   <a href="#" onclick='overlay()' class="radius button right">Contact Me</a>
          </div> -->


        </div>
      </div>

    </div>
  </div>



</div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

